/* Universal Styling */
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
}

/* Element Selectors */
body {
    margin: 0;
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: #008891;
  }

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 10px;
    background-color: #00587A;
    color: white;
}

h1 {
    font-size: 500%;
    margin: 10px auto;
}

h2 {
    margin: auto 15px;
    margin-bottom: 15px;
}

h3 {
    font-size: 300%;
}

header img {
    max-width: 400px;
    border-radius: 35px;
    border: solid 10px #0F3057;
    box-shadow: 7px 7px 10px 10px #2a4361;
}

main {
    padding: 35px;
    background-color: #E7E7DE;
}

footer {
    padding-top: 15px; 
    background-color: #0F3057;
    min-height: 100px;
    color: white;
    text-align: center;
}

/* Class Selectors */
.focal-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px auto;
}

.nav-link {
    text-decoration: none;
    padding: 10px 12px;
    margin-right: 15px;
    color: white;
    font-weight: 700;
    font-size: larger;
}

.nav-link:hover {
    color: #0F3057;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 20px;
}

.primary-project {
    position: relative;
    width: 100%;
    height: 300px;
    margin: 20px 0;
    border: solid 5px;
    background-size: 200%;
    background-position: center;
    background-repeat: no-repeat;
}

.general-project {
    position: relative;
    height: 200px;
    width: 45%;
    margin: 20px 0;
    border: solid 5px;
    background-size: 200%;
    background-position: center;
    background-repeat: no-repeat;
}

.primary-project p, .general-project p {
    position: absolute;
    bottom: 3px;
    left: 5px;
    margin: 0;
}

.mini-project {
    background-image: url(../images/Mini-Project.png);
}

.bio-page {
    background-image: url(../images/Bio-Page.png);
}

.contact-link {
    color: #b15566;
    text-decoration: none;
    border: solid #66b155;
    border-radius: 5px;
    padding: 7px;
}

.contact-link:hover {
    background-color: #66b155;
    color: white;
}

/* ID Selectors */
#about, #portfolio, #contact {
    display: flex;
    width: 100%;
    min-height: 250px;
}

#about h3, #contact h3 {
    margin-left: 10px;
    padding-left: 20px;
    border-left: solid #008891;
}

#about h3 {
    border-bottom: dashed #008891;
}

#contact h3 {
    border-top: dashed #008891;
    padding-top: 20px;
}

#about div {
    margin-right: 40px;
    width: 80%;
    text-align: center;
}

#about div p {
    max-width: 900px;
    margin: 20px auto;
    text-align: left;
}

#portfolio h3 {
    margin-right: 10px;
    padding-top: 20px;
    padding-right: 20px;
    border-right: solid #008891;
    border-bottom: dashed #008891;
    border-top: dashed #008891;
}

#contact ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    width: 80%;
    text-align: center;
    list-style: none;
}

#contact ul li {
    padding: 10px 20px;
    font-size: x-large;
}

@media screen and (max-width: 992px) {
    .general-project {
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    #portfolio {
        flex-direction: column;
    }

    #about, #contact {
        flex-direction: column-reverse;
    }

    #about h3, #contact h3 {
        border-left: none;
    }

    #about div {
        margin-left: 50px;
    }

    #portfolio h3 {
        border-top: none;
        border-right: none;
        margin-left: 10px;
        padding-left: 20px;
    }
    #contact h3 {
        border-top: none;
        border-bottom: dashed #008891;
    }

    h3 {
        margin-bottom: 15px;
    }
}